@use "sass:math";

@mixin divider-title {
  content: "";
  height: 4px;
  background-color: #ffffff;
  max-width: $width-divider-title;

  display: flex;
  margin-top: 44px; //padding 20 + divider offset 24
  position: relative;
  left: 50%;
  margin-left: -(calc($width-divider-title / 2));

  @include tablet {
    margin-top: 40px;
  }
}
